.anchoFormaBuscar{
	width: 200px;
}
.appRed{
	width: 75%; height: 75%;
}
.AvatarUsuario{
	width:35px;
}
.block{
	display: block;
}

.colorBlanco, a.colorBlanco, a.colorBlanco:visited{
	color: white; font-size:15px;
}
.fuenteRojoBold{
	color: red; font-weight: bold;
}
.fuenteBlacoBold{
	color: white; font-weight: bold;
}
.fuenteOlvido{
	color: #00B6F1; font-weight: bold;
}
.mensaje{
	color: white; font-size: 9px;
}

.ocultaImgApp{
    visibility:hidden;
    width:0px;
    height:0px;
}
.iconoGde{
    color:white;
    font-size:14px;
    cursor:pointer;
}
.margenNav{
    margin-top:0px; margin-bottom:0px;
}
.iconoApp{
    width:30px;  margin-top:0px !important;
}
@media(min-width:1800px){
    .iconoApp{
        width:50px; height:30px;
    }
    #dropdownApps{
        margin-right:50px;
    }
}
#mueveTablaApps{
    z-index:15;
}
.imgLogo{
    margin-top:10px;
}
.menuVentanaApps{background:transparent; border:none;}
.mueveTabla{
	background:rgba(0, 0, 0, .3) !important;
	box-shadow: 5px 5px 1px rgba(0, 0, 0, .2);
}
@media(max-width:668px){
    .mueveTabla{
        top:100px;
     }
    .bajaRegistro{
        top:10px;
    }
}
@media(max-width:767px){
    .mueveTabla{
	position: fixed; right:2%;
    }
    .paddDropdown{
        margin-right:30px;
   }
    .quitaMargenSup{
        margin-top:-10px;
    }
}
@media(min-width:768px){
    .mueveTabla{
	position: fixed; right:2%;
    }
    .paddDropdown{
        margin-right:30px; margin-top:10%;
    }
}
.backNegro{
    background-color:black;
}

.bordeBoton{
    border-color:black;
}
.divli{
    margin-top:10px;
}