/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/03/2016, 01:28:20 PM
    Author     : SMARTINEZ
*/
*{

}

body{
    background: url(../../imagenes/ventana/background/BackgroundDefault.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.navbarHome li { color: #000 }

.fotoUsuario{
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 2px solid white;
    width: 30px;
    height: 30px;
    margin-top: 5%;
    font-weight: bold;
    font-size: 20px;
}
.iconoApps{
    width: 40px;
    height: 30px;    
}
.menuVentana{
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    border-bottom: 1px solid white;     

}

.menuVentanaApps li > a:hover { background: transparent !important; }


/*Modal registra usuario*/
body.modal-open, 
.modal-open .navbar-fixed-top, 
.modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    left: 50%;
    bottom: auto;
    right: auto;
    z-index: 1050;
    padding: 0;
    width: 500px;
    margin-left: -250px;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;

}

.modal.container {
    max-width: none;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
}
/* fin Modal registra usuario*/

/*Ventana logueo*/
.btn-login {
    background-color: #17a91c;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #17a91c;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #14671A;
    border-color: #14671A;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}
/*
*/.navbar-login
{
    width: 300px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 5%;
}

.fondoRegistro{
    background: rgba(0, 0, 0, .2) !important; 
    margin-top: 11% !important;
}
.menuVentanaApps{
     background: rgba(0, 0, 0, .2) !important; 
}
/*Fin Ventana logueo*/

