.skin3.bottom .tab_header_item.tab_selected a {
	 background: rgba(0, 0, 0, 0.2);
	
       
}
.skin3.bottom.tabs_wrapper {
	position: relative;
	overflow: hidden;
	min-height: 40px;
	border: none;
	border-bottom: none;
        
        
}
.skin3.bottom .tabs_header {
	overflow: hidden;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	padding-bottom: 1px;
        
}
.skin3.bottom .tab_header_item.tab_selected {
	background: none;
        
}

.skin3.bottom .tab_selected {
	background: none;
	color: white;
}

.f1 > ul{
    list-style: none;
    display: table;
    overflow: hidden;
    width: 100%;
	position: relative;
	margin-bottom:0px;
}   
.f1 > div {
    display: none;
}

.f1:hover >div {
    display: block;
    line-height: 150px;
    padding: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.3);
   
}

#imagen-tve {
  min-height: 50px;
  min-width: 136px;
  background: url(../../imagenes/ventana/pieventana/tve.png) no-repeat center center;
}
#imagen-tve:hover {
  background: url(../../imagenes/ventana/pieventana/tvecolor.png) no-repeat center center;
}
#imagen-csuca {
  min-height: 50px;
  min-width: 50px;
  background: url(../../imagenes/ventana/pieventana/csuca.png) no-repeat center center;
}
#imagen-csuca:hover {
  background: url(../../imagenes/ventana/pieventana/csucacolor.png) no-repeat center center;
}
#imagen-ceccsica {
  min-height: 50px;
  min-width: 36px;
  background: url(../../imagenes/ventana/pieventana/ceccsica.png) no-repeat center center;
}
#imagen-ceccsica:hover {
  background: url(../../imagenes/ventana/pieventana/ceccsicacolor.png) no-repeat center center;
}

#imagen-unah {
  min-height: 50px;
  min-width: 79px;
  background: url(../../imagenes/ventana/pieventana/unah.png) no-repeat center center;
}
#imagen-unah:hover {
  background: url(../../imagenes/ventana/pieventana/unahcolor.png) no-repeat center center;
}

#imagen-mep {
  min-height: 50px;
  min-width: 79px;
  background: url(../../imagenes/ventana/pieventana/mep.png) no-repeat center center;
}
#imagen-mep:hover {
  background: url(../../imagenes/ventana/pieventana/mepcolor.png) no-repeat center center;
}

#imagen-amexcid {
  min-height: 50px;
  min-width: 173px;
  background: url(../../imagenes/ventana/pieventana/amexcid.png) no-repeat center center;
}
#imagen-amexcid:hover {
  background: url(../../imagenes/ventana/pieventana/amexcidcolor.png) no-repeat center center;
}

.fondoColabora{
	width:200px;
	height:30px;
	padding-left:20px;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 0px 78px 0px 0px;
	-moz-border-radius: 0px 78px 0px 0px;
	-webkit-border-radius: 0px 78px 0px 0px;
	border: 0px solid #000000;
}