.fondocolaboradores{
    background: #000;
}

.colaboradoresul1{
    list-style: none;
    display: table;
    overflow: hidden;
    width: 100%;
    background: #000;
    position: relative;

}

.colaboradoresul1:hover > ul{
    text-decoration:none;
    display:block;
    opacity: 1.0;
}

.colaboradoresul2{
    display: none;
    text-decoration:none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;


}

.colaboradoresli{
    display: table-cell;
}

.plecacolaboradores{
    color: #fff;
    display: block;
    line-height: 10px;
    padding: 10px;
    position: relative;
    text-decoration:none;
}

.formatocolaboradores{
    display: block;
    line-height: 150px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;

}
.formatocolaboradores:hover{
    text-decoration:none;
 }
 .fondo{
     background: #0f0f0f; 
 }

#imagen-tve {
  min-height: 50px;
  min-width: 136px;
  background: url(pieventana/tve.png) no-repeat center center;
  
}
#imagen-tve:hover {
  background: url(pieventana/tvecolor.png) no-repeat center center;
}

#imagen-csuca {
  min-height: 50px;
  min-width: 50px;
  background: url(pieventana/csuca.png) no-repeat center center;
}
#imagen-csuca:hover {
  background: url(pieventana/csucacolor.png) no-repeat center center;
}
#imagen-ceccsica {
  min-height: 50px;
  min-width: 36px;
  background: url(pieventana/ceccsica.png) no-repeat center center;
}
#imagen-ceccsica:hover {
  background: url(pieventana/ceccsicacolor.png) no-repeat center center;
}

#imagen-unah {
  min-height: 50px;
  min-width: 79px;
  background: url(pieventana/unah.png) no-repeat center center;
}
#imagen-unah:hover {
  background: url(pieventana/unahcolor.png) no-repeat center center;
}

#imagen-mep {
  min-height: 50px;
  min-width: 79px;
  background: url(pieventana/mep.png) no-repeat center center;
}
#imagen-mep:hover {
  background: url(pieventana/mepcolor.png) no-repeat center center;
}

#imagen-amexcid {
  min-height: 50px;
  min-width: 173px;
  background: url(pieventana/amexcid.png) no-repeat center center;
}
#imagen-amexcid:hover {
  background: url(pieventana/amexcidcolor.png) no-repeat center center;
}