			.fondo_Obscuro{
				background-color:#424242;
				margin:0px;
				color:white;
				
			}
			.fondo_footer1{
				background-color:#2C2C2C;
				margin:0px;
				color:white;
				
			}
			.fondo_footer2{
				background-color:#292929;
				margin:0px;
				color:white;
				
			}
			.fondo_Claro{
				background-color:#F5F5F5;
				margin:0px;
			}
			.division{
				height:60px;
			}
			.encabezado{
				height:150px;
			}
			.homologa{
				height:450px;
			}
			.separa_Linea{
				/*font-family: 'Merriweather', serif;*/
				color:gray;
				line-height:2;
			}
			.carousel-indicators li{
				border-color:gray;
				opacity:0.5;
				z-index:-1;
			}
			.item h4 {
				font-size: 19px;
				line-height: 1.375em;
				font-weight: 400;
				font-style: italic;
				margin: 50px 0;
			}
			
			.progress-bar {
				-webkit-transition: none !important;
				transition: none !important;
			}
			
			.imgTabla{
				width: 140px;
			}
			.txtTabla{
				width: 350px;
			}
			
			ul.bajaHorizontal{
				position:relative;
				top:30px;
			}
			
			.subeHorizontal{
				position:relative;
				top:-5px;
			}
			.popover{
				width: 300px;
			}