/* 
    Created on : 22/01/2016, 05:18:09 PM
    Author     : SMARTINEZ
*/

/********* Estilos página de proyectos *********/
.carousel-proyectos {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
.circuloFlecha {
    left: -12px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.controlDerechoCarousel {
    right: -12px;
}
.controlIzquierdoCarousel{
    left: 5px;
}
.backproyectos{
    background: url(../../imagenes/red/proyectos/fondoproyectoscarousel.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.justifica-parrafo-proyectos{
    text-align: justify;
}

/********** Estilos para página quienes somos *********/
.backpaquienes{
    background: url(../../imagenes/red/quienesSomos/backquienessomos.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.txtQuienesSomos{
    color:white;
    font-family: 'Oxygen', sans-serif;
}

/********* Estilos para página publicaciones *********/
img.tamaho-thumbnail-publicaciones{
    width: 400px; 
    height: 251px;
}