	@media(min-width:250px){
		.imgFuncionalidadEdu{
			width: 70px; height:70px; position:relative; top:20px;
		}
		.imgExpectativas{
			width: 70px; height:70px; position:relative; top:50px;
		}
		.imgSaberesDig{
			width: 70px; height:70px; position:relative; top:100px;
		}
		.imgApropiacion{
			width: 70px; height:70px; position:relative; top:130px;
		}
	}
	@media(min-width:350px){
		.imgFuncionalidadEdu{
			width: 70px; height:70px; position:relative; top:20px;
		}
		.imgExpectativas{
			width: 70px; height:70px; position:relative; top:50px;
		}
		.imgSaberesDig{
			width: 70px; height:70px; position:relative; top:100px;
		}
		.imgApropiacion{
			width: 70px; height:70px; position:relative; top:130px;
		}
		.contenedorTexto1{
			width:270px; position:relative; top:-50px;
		}
		.contenedorTexto2{
			width:270px; position:relative; top:400px;
		}
	}
	@media(min-width:768px){
		.imgFuncionalidadEdu{
			width: 117px; height:117px; position:absolute; top:62px; left:190px;
		}
		.imgExpectativas{
			width: 117px; height:117px; position:absolute; top:172px; left:78px;
		}
		.imgSaberesDig{
			width: 117px; height:117px; position:absolute; top:173px; left:301px;
		}
		.imgApropiacion{
			width: 117px; height:117px; position:absolute; top:283px; left:189px;
		}
		.imgTexto1{
			width:270px; height:52px; position:absolute; top:-30px; left:-240px;
		}
		.imgTexto2{
			width:300px; height:71px; position:absolute; top:150px; left:-360px;
		}
		.imgTexto3{
			width:300px; height:56px; position:absolute; top:180px; left:540px;
		}
		.imgTexto4{
			width:270px; height:58px; position:absolute; top:380px; left:500px;
		}
	}
	@media (min-width: 992px){
		.imgFuncionalidadEdu{
			width: 25%; height:27%; position:absolute; top:13%; left:38%;
		}
		.imgExpectativas{
			width: 25%; height:27%; position:absolute; top:37%; left:16%;
		}
		.imgSaberesDig{
			width: 25%; height:27%; position:absolute; top:37%; left:61%;
		}
		.imgApropiacion{
			width: 25%; height:27%; position:absolute; top:61%; left:38%;
		}
		.contenedorLinea1{
			font-size:6px; width:30%; position:absolute; top:-5%; left:9%;
		}
		.contenedorLinea2{
			font-size:6px; width:40%; position:absolute; top:26%; left:-13%;
		}
		.contenedorLinea3{
			font-size:6px; width:33%; position:absolute; top:40%; left:80%;
		}
		.contenedorLinea4{
			font-size:6px; width:40%; position:absolute; top:75%; left:62%;
		}
		.imgTexto1{
			width:270px; height:52px; position:absolute; top:-30px; left:-265px;
		}
		.imgTexto2{
			width:300px; height:71px; position:absolute; top:220px; left:-310px;
		}
		.imgTexto3{
			width:300px; height:56px; position:absolute; top:-7%; left:87%;
		}
		.imgTexto4{
			width:270px; height:58px; position:absolute; top:100%; left:90%;
		}
	}
	@media(min-width:1200px){
		.imgFuncionalidadEdu{
			width: 117px; height:117px; position:absolute; top:62px; left:190px;
		}
		.imgExpectativas{
			width: 117px; height:117px; position:absolute; top:172px; left:78px;
		}
		.imgSaberesDig{
			width: 117px; height:117px; position:absolute; top:173px; left:301px;
		}
		.imgApropiacion{
			width: 117px; height:117px; position:absolute; top:283px; left:189px;
		}
		.contenedorLinea1{
			font-size:6px; width:140px; position:absolute; top:-10px; left:50px;
		}
		.contenedorLinea2{
			font-size:6px; width:170px; position:absolute; top:130px; left:-50px;
		}
		.contenedorLinea3{
			font-size:6px; width:150px; position:absolute; top:195px; left:390px;
		}
		.contenedorLinea4{
			font-size:6px; width:170px; position:absolute; top:360px; left:300px;
		}
		.imgTexto1{
			width:270px; height:52px; position:absolute; top:-30px; left:-265px;
		}
		.imgTexto2{
			width:300px; height:71px; position:absolute; top:220px; left:-310px;
		}
		.imgTexto3{
			width:300px; height:56px; position:absolute; top:25%; left:98%;
		}
		.imgTexto4{
			width:270px; height:58px; position:absolute; top:95%; left:90%;
		}
	}
	@media(min-width:1440px){
		.imgTexto1{
			width:270px; height:52px; position:absolute; top:-30px; left:-265px;
		}
		.imgTexto2{
			width:300px; height:71px; position:absolute; top:220px; left:-310px;
		}
		.imgTexto3{
			width:300px; height:56px; position:absolute; top:25%; left:85%;
		}
		.imgTexto4{
			width:270px; height:58px; position:absolute; top:85%; left:80%;
		}
	}
	@media(min-width:1600px){
		.imgTexto1{
			width:270px; height:52px; position:absolute; top:-30px; left:-265px;
		}
		.imgTexto2{
			width:300px; height:71px; position:absolute; top:220px; left:-310px;
		}
		.imgTexto3{
			width:300px; height:56px; position:absolute; top:25%; left:80%;
		}
		.imgTexto4{
			width:270px; height:58px; position:absolute; top:85%; left:80%;
		}
	}
	@media(min-width:2000px){
		.imgTexto1{
			width:270px; height:52px; position:absolute; top:-30px; left:-265px;
		}
		.imgTexto2{
			width:300px; height:71px; position:absolute; top:220px; left:-310px;
		}
		.imgTexto3{
			width:300px; height:56px; position:absolute; top:25%; left:63%;
		}
		.imgTexto4{
			width:270px; height:58px; position:absolute; top:85%; left:60%;
		}
	}