.fondoDegradadoMenuInicial{
	background: rgba(0, 0, 0, .3);
	border: none;
}
.fondoDegradadoMenu{
	background: rgba(0, 0, 0, .3);
	border: none;
}
.separaMenu{
	padding:5px;
}
@media(min-width:1600px){
    .separaMenu{
	    padding:5px;
    }
}