/* Estilos para iconos redes sociales  cultura*/
.derechaSocialesCul{
    position: fixed;
    right: 2%;
    top: 35%;
    
}
.socialesCul{
    list-style: none;
}
.cambiacolorredesSocialesCul{
    color: #000000;
}
#ct-cul:hover{
    color:#00B6F1;
}
#cf-cul:hover{
    color:#46629E;
}
#cy-cul:hover{
    color:#E62117;
}
