    /*	----------	Estilo encabezado	----------*/
    .ocultaImgApp{
        visibility:hidden;
        width:0px;
        height:0px;
    }
    .iconoGde{
        color:white;
        font-size:14px;
        cursor:pointer;
    }

    @media (min-width: 250px) {
        .logoBarraTVE{
            width: 33px;
            height: 13px;
        }
        .logoBarraSEP{
            width: 33px;
            height: 10px;
        }
        .textoTitulo{
            color: black;
            font-family:'Ubuntu';
            font-size:10px;
        }
        .contenedorAro{
            width:283px; height:283px; margin:auto; position: relative;
        }
        /*	----------	Estilo pagina Inicio telesecundaria	----------	*/
        .imgTelesecCentro{
            position: absolute; top:75px; left:65px; width: 150px; height: 150px; z-index:0; visibility: hidden;
        }
        /*	----------	Estilo pagina Inicio Educamedia	----------	*/
        .iniImgCentro{
            position: absolute; top:57px; left:58px; width:170px; height:169px; z-index:0; visibility: hidden;
        }
        /*	----------	Estilo General todos los grados	----------*/
        .imgPrimeroCentral{
            position: absolute; top:95px; left:95px; width:100px; height: 100px; z-index:0; visibility: hidden;
        }
    }

    @media (min-width: 350px) {
        .logoBarraTVE{
            width: 33px;
            height: 13px;
        }
        .logoBarraSEP{
            width: 33px;
            height: 10px;
        }
        .textoTitulo{
            color: black;
            font-family:'Ubuntu';
            font-size:10px;
        }
        .contenedorAro{
            width:283px; height:283px; margin:auto; position: relative;
        }
        /*	----------	Estilo pagina Inicio telesecundaria	----------	*/
        .imgTelesecCentro{
            position: absolute; top:75px; left:65px; width: 150px; height: 150px; z-index:0; visibility: hidden;
        }
        /*	----------	Estilo pagina Inicio Educamedia	----------	*/
        .iniImgCentro{
            position: absolute; top:57px; left:58px; width:170px; height:169px; z-index:0; visibility: hidden;
        }
        /*	----------	Estilo General todos los grados	----------*/
        .imgPrimeroCentral{
            position: absolute; top:95px; left:95px; width:100px; height: 100px; z-index:0; visibility: hidden;
        }
    }
    @media (min-width: 768px) {
        .logoBarraTVE{
            width: 65px;
            height: 25px;
        }
        .logoBarraSEP{
            width: 65px;
            height: 20px;
        }
        .textoTitulo{
            color: black;
            font-family:'Ubuntu';
            font-size:16px;
        }
        .contenedorAro{
            width:483px; height:483px; margin:auto; position: relative;
        }
        /*	----------	Estilo pagina Inicio telesecundaria	----------	*/
        .imgTelesecCentro{
            position: absolute; top:150px; left:130px; width: 230px; height: 230px; z-index:0; visibility: hidden;
        }
        /*	----------	Estilo pagina Inicio Educamedia	----------	*/
        .iniImgCentro{
            position: absolute; top:95px; left:98px; width:288px; height:292px; z-index:0; visibility: hidden;
        }
        /*	----------	Estilo General todos los grados	----------*/
        .imgPrimeroCentral{
            position: absolute; top:130px; left:130px; width:225px; height: 225px; z-index:0; visibility: hidden;
        }
    }

    @media (min-width: 1024px) {
        .logoBarraTVE{
            width: 65px;
            height: 25px;
        }
        .logoBarraSEP{
            width: 65px;
            height: 20px;
        }
        .textoTitulo{
            color: black;
            font-family:'Ubuntu';
            font-size:19px;
        }
        .contenedorAro{
            width:483px; height:483px; margin:auto; position: relative;
        }
        /*	----------	Estilo pagina Inicio telesecundaria	----------	*/
        .imgTelesecCentro{
            position: absolute; top:150px; left:130px; width: 230px; height: 230px; z-index:0; visibility: hidden;
        }
        /*	----------	Estilo pagina Inicio Educamedia	----------	*/
        .iniImgCentro{
            position: absolute; top:95px; left:98px; width:286px; height:292px; z-index:0; visibility: hidden;
        }
        /*	----------	Estilo General todos los grados	----------*/
        .imgPrimeroCentral{
            position: absolute; top:130px; left:130px; width:225px; height: 225px; z-index:0; visibility: hidden;
        }
    }

    @media (min-width: 1200px) {
        .logoBarraTVE{
            width: 131px;
            height: 50px;
        }
        .logoBarraSEP{
            width: 166px;
            height: 50px;
        }
        .contenedorAro{
            width:483px; height:483px; margin:auto; position: relative;
        }
        /*	----------	Estilo pagina Inicio telesecundaria	----------	*/
        .imgTelesecCentro{
            position: absolute; top:150px; left:130px; width: 230px; height: 230px; z-index:0; visibility: hidden;
        }
        /*	----------	Estilo pagina Inicio Educamedia	----------	*/
        .iniImgCentro{
            position: absolute; top:95px; left:98px; width:286px; height:292px; z-index:0; visibility: hidden;
        }
        /*	----------	Estilo General todos los grados	----------*/
        .imgPrimeroCentral{
            position: absolute; top:130px; left:130px; width:225px; height: 225px; z-index:0; visibility: hidden;
        }
    }
    /*	----------	Estilo General todos los grados	----------*/
    .posicionInicial{
        position: absolute; top:0; left:0; z-index:2;
    }
    .resaltaImg{
        position: absolute; top:0; left:0; z-index:3; visibility: hidden;
    }
    .posicionMapa{
        position: absolute; top:0; left:0; z-index:5;
    }


    /*	----------	Estilo pagina Inicio Educamedia	----------	*/
    .telesecundaria{
        position: absolute; top:0px; left:15px;  z-index:5; visibility: hidden;
    }
    .telebachillerato{
        position: absolute; top:240px; left:15px; z-index:5; visibility: hidden;
    }