/* Estilo para los menus de Telesecundaria y Telebachillerato */
/* Wrappers  */
.margensuperiormenuTS{
  top: 25%;    
}
#wrapper {
    padding-left: 0; /*posición de la pestaña menú al inicio */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebar-wrapperTS {
    z-index: 1000;
    left: 220px; /*ampliar contenedor de menú  220*/
    width: 0;
    height: 314px; /*tamaño del contenedor de la lista de menú */
    margin-left: -220px;
    margin-top: 0; /*margen superior del menú*/ 
    line-height: 5%;
    overflow-y: hidden;
    overflow-x: hidden;
    /*background: #424242;*/
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#wrapper.toggled #sidebar-wrapperTS {
    width: 220px;
}

@media (min-width: 2560px) {
  #sidebar-wrapperTB  {
     height: 314px !important;
  }  
}

#sidebar-wrapperTB {
    z-index: 1000;
    left: 220px; /*ampliar contenedor de menú  220*/
    width: 0;
    height: 260px;/* tamaño del contenedor de la lista de menú */
    margin-left: -220px;
    margin-top: 0; /*margen superior del menú*/ 
    line-height: 5%;
    overflow-y: hidden;
    overflow-x: hidden;
    /*background: #424242;*/
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapperTB {
    width: 220px;
}

#wrapper.toggled {
    padding-left: 221px; /*separación de la pestaña menú con la lista  221*/
}

#page-content-wrapper {
    width: 100%;
    /*padding-top: 70px;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -20px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0px;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 30px;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #b4b4b4; /*border inferior del menú */
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li a {
    display: block;
    color: #ddd; /*color de texto de la lista */
    text-decoration: none;
    padding: 10px 15px 10px 20px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff; /*color de texto de la lista en el hover*/
    font-weight: bold; /* cambiar a bold el texto */
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    position: fixed;
    /*top: 0;  margen superior de la pestaña menú  */
    z-index: 999;
    display: block;
    width: 40px; /*ancho de la pestaña menú */
    height: 105px;/* alto de la pestaña menú  */
    color: #fff; /* color de letra de la pestaña */
    margin-left: 0; /* margen izquierdo */
    /*background: #424242; color de la pestaña menú */
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-top-right-radius: 0.5em 1em;
    border-bottom-right-radius: 0.5em 1em;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
  
}
.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  /*opacity: 1;*/
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(250,250,250,.8);*/
    z-index: 1;
}
.vertical{
    writing-mode: vertical-lr;
}
#sinBorde{
     border: none;
}

/* Estilos para iconos redes sociales */
.derechaSociales{
    position: fixed;
    right: 2%;
    top: 35%;
    
}
.sociales{
    list-style: none;
}
.cambiacolorredesSociales{
    color: #000000;
}
#ct:hover{
    color:#00B6F1;
}
#cf:hover{
    color:#46629E;
}
#cy:hover{
    color:#E62117;
}

/*Estilos para la Página de Error */
.centrar-texto-error{
     text-align: center; 
     margin-left: auto; 
     margin-right: auto; 
     margin-bottom: auto; 
     margin-top: auto;
 }
 .color-fondo-error{
     background: #f0edeb;
 }
 .formato-404{
    font-family: Tahoma;
    color: red;
}
/*Estilo de letra para videos de telesecundaria y telebachilerato */
.txtVideosRed{
    font-family: Ubuntu;
}